<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
   <mat-icon>menu</mat-icon>
 </button>
 <span>FreeTirage</span>
 <span class="example-spacer"></span>
 <button mat-button color="primary" (click)="openDialog()" class="tirage">Tirage</button>
</mat-toolbar>

<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Acceuil">
    <div class="container">
      <div style="margin-top: 10px;">
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Tirage">
    <app-table></app-table>
  </mat-tab>
  <mat-tab label="Liste">
    <app-liste1></app-liste1>
  </mat-tab>
</mat-tab-group>